<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720844061575-s085345tlrn9fnnptmmch0nstl4d7dqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720844061575-s085345tlrn9fnnptmmch0nstl4d7dqn</string>
	<key>API_KEY</key>
	<string>AIzaSyCp6kPGSkw1uLdKX4J3qQaOETlmL-lgw8U</string>
	<key>GCM_SENDER_ID</key>
	<string>720844061575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseDevbees</string>
	<key>PROJECT_ID</key>
	<string>fir-devbees</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-devbees.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720844061575:ios:c93db65ce41bad98e67122</string>
</dict>
</plist>